In [7]:
import pandas as pd
import numpy as np

from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [25]:
house_price=pd.read_csv('Real_Estate.csv')
house_price.head()

,No,transaction_date,house_age,distance_to_the_nearest_MRT_station,number_of_convenience_stores,latitude,longitude,house_price_of_unit_area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

In [26]:
house_price.drop(columns=['No','transaction_date'],axis=1,inplace=True)
house_price.head()

,house_age,distance_to_the_nearest_MRT_station,number_of_convenience_stores,latitude,longitude,house_price_of_unit_area
0,32.0,84.87882,10,24.98298,121.54024,37.9
1,19.5,306.59470,9,24.98034,121.53951,42.2
2,13.3,561.98450,5,24.98746,121.54391,47.3
3,13.3,561.98450,5,24.98746,121.54391,54.8
4,5.0,390.56840,5,24.97937,121.54245,43.1

In [27]:
# Creating train/test data

X=house_price.drop(columns='house_price_of_unit_area', axis=1)
Y=house_price['house_price_of_unit_area']

X_train,X_test,Y_train,Y_test=train_test_split(X,Y, test_size=0.2)

In [28]:
# Bulding the linear model
lm_md=LinearRegression().fit(X_train,Y_train)


# Predicting on test
lm_pred=lm_md.predict(X_test)
lm_pred

array([45.65169207, 13.74021852, 32.95221625, 52.02810531, 44.48280404,
       39.55943481, 46.84357174, 32.21021545, 39.05954764, 36.74095431,
       29.13918126, 15.00003329, 42.52853294, 46.86716389, 43.19259083,
       30.20789095, 14.67375197, 33.47325956, 31.54628261, 40.29123517,
       37.80689515, 24.01159384, 29.38919463, 40.7035178 , 52.00451316,
       29.40530316, 14.58416333, 48.09096753, 41.67636596, 30.65075292,
       44.54608659, 39.58798607, 41.41616561, 44.45921188, 24.16556669,
       41.87688373,  8.46451686, 49.24313212, 45.88637173, 38.3811993 ,
       44.31936046, 36.064316  , 33.4496674 , 32.60602441, 14.24508434,
       44.68890979, 41.27461268, 29.40530316, 29.24168722, 52.02810531,
       47.29047072, 42.12117807, 42.12117807, 36.43925067, 43.05212966,
       41.34538914, 38.44395768, 43.87465495, 30.88627549, 36.4257664 ,
       51.32437744, 41.56774857, 30.89995662, 14.19731281, 48.57690282,
       44.52998835, 46.03682679, 47.21638593, 36.07116705, 14.3158608 ,
       41.72112138, 30.98569852, 26.06009589, 46.38180698, 25.88976799,
       27.96013251, 43.39401247, 15.02362545, 11.63402258, 48.34426562,
       40.67992565, 48.56051539, 40.63884568])

In [29]:
Y_test

199    31.6
232    17.4
269    23.0
96     59.5
95     51.8
       ...
48     13.4
23     47.9
198    39.1
348    53.7
122    32.5
Name: house_price_of_unit_area, Length: 83, dtype: float64

In [30]:
lm_mse=mean_squared_error(Y_test,lm_pred)
print('The MSE of the linear model is ', lm_mse)

The MSE of the linear model is  116.30290224756641